<div class="header container">
    <div class="logo col-md-1 col-2">
        <a routerLink="">
            <img src="https://res.cloudinary.com/ductham087/image/upload/v1664609756/Bee%20Food/Logo_png_p1htgf.png" width="100%" alt="">
        </a>
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="product">Product</a></li>
            <li><a routerLink="#">About</a></li>
            <li><a routerLink="contact">Contact</a></li>
        </ul>
    </div>
    <!-- nav menu -->
    <div class="nav_mobile">
        <div class="menu">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="product">Product</a></li>
                <li><a routerLink="#">About</a></li>
                <li><a routerLink="contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>