.header {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.header .nav_mobile {
    display: none;
}

.header .logo {
    margin: auto 0px;
}

.header .nav ul {
    padding: 0px;
    margin: auto 0px;
}

.header .nav ul li {
    float: left;
    list-style: none;
    padding-left: 25px;
    transition: 0.5s;
}

.header .nav ul li a {
    text-decoration: none;
    color: #984d49;
}

.header .nav ul li:hover {
    transform: scale(1.1);
}

@media (max-width:768px) {
    /* Header */
    .header {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .header .nav {
        display: none;
    }
    .header .nav_mobile {
        display: block;
        width: 100%;
    }
    .header .nav_mobile ul {
        padding: 10px 0px;
        margin: 0px;
        display: flex;
        justify-content: space-around;
    }
    .header .nav_mobile ul li {
        list-style: none;
        transition: 0.5s;
    }
    .header .nav_mobile ul li:hover {
        transform: scale(1.05);
    }
    .header .nav_mobile ul li a {
        color: #984d49;
        text-decoration: none;
    }
}